/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 * 
 * Colors
 **/

* {
    background:     #191724CC;
    background-alt: #26233ACC;
    foreground:     #E0DEF4FF;
    selected:       #EBBCBAFF;
    active:         #403D52FF;
    urgent:         #EB6F92CC;
}
